@import '../../shared/scss/base-layout.scss';

.score__container {
  @include baseContainer;
  height: 0;
  min-height: 10rem;
}

.score__panel {
  @include defaultPanel;
  height: 100%;
}

.table__container {
  @include baseContainer;
}