@import url('//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css');
@import '../shared/scss/base-layout.scss';
@import './components/MenuBar/styles.scss';
@import './components/ComplianceScore/styles.scss';
@import './components/EntityTable/styles.scss';
@import './components/styles.scss';
