@import '../../../shared/scss/base-layout.scss';

.entity__table__header__panel {
  @include defaultPanel;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;
  padding-top: 2rem;
  
  >.message-group {
    font-size: 1.25rem;
    padding-bottom: .75rem;
    display: flex;
  
    >.message-group-item {
      padding-right: 1rem;
    }
  }

  >.action-group {
    margin: 0;
    padding-bottom: .75rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    >.action-group-item {
      padding-left: 1rem;

      >.pagination-group {
        display: flex;
        
        .pagination-message {
          padding: .25rem;
          padding-right: .5rem;
        }

        .pagination-nav {

          padding: .25rem;

          &.enabled {
            cursor: pointer;
            &:hover {
              background-color: #EEEFEF;
            }
          }
          
          &.disabled {
            color: #acadad;
          }
        }
      }

      >.filter-group {
        display: flex;
        flex-direction: row;
        align-items: start;
          
        label {
          padding-right: 1rem;
        }
  
      }
    }
  }
}

.entity__table__panel {
  @include defaultPanel;

  .score {
    font-weight: 600;
  }
}

.tags__title {
  font-size: .75rem;
  font-weight: 600;
  text-transform: capitalize;
}

.tags__list {
  display: flex;
  flex-wrap: wrap;
}

.tags__tag {
  border: 1px solid #e3e4e4;
  box-shadow: 0 1px 3px 0 rgba(203, 226, 226, 0.34);
  font-size: .75rem;
  padding: .15rem .25rem;
  margin-left: .25rem;
  margin-bottom: .25rem;
  display: inline-flex;
  align-items: center;
}

.tags__tag__status {
  font-weight: 800;
  font-size: .75rem;
  padding-right: .3rem;
}