.compliance__score__container {
  width: 100%;
  padding-right: .5rem;
}

.compliance__score__container,
.compliance__score__container div,
.compliance__score span,
.compliance__score label {
  cursor: pointer;
}

.compliance__score {
  padding: 1rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  height: 7rem;
  width: 14rem;
  border-radius: 2px;
  border-right: 1px solid #edeeee;
  border-bottom: 1px solid #edeeee;
  box-shadow: 0px 1px 0px rgba(0, 63, 66, 0.07), 0px 3px 3px rgba(0, 39, 41, 0.03), 0px 5px 23px rgba(0, 45, 47, 0.03);
  transition: all 0.075s ease-out;
  transform: translateY(2px);

  &:hover {
    transform: translateY(0);
    box-shadow: 0px 1px 0px rgba(0, 63, 66, 0.1), 0px 3px 4px rgba(0, 39, 41, 0.09),
      0px 5px 23px rgba(0, 45, 47, 0.09);
  }

  &.summary {
    width: 18rem;
  }

  .title {
    font-size: 1rem;
    color: #464e4e;
    font-weight: 600;
    text-align: left;
    white-space: normal;
    width: 100%;
  }

  .subtitle {
    color: #8e94a3;
    font-size: 0.85rem;
    padding-left: .25rem;
  }

  .value {
    margin-right: 8px;
    font-size: 2rem;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-align: left;
    font-weight: 600;
  }
}

.inactive__entity {
  background-color: #edeeee;
  color: #8e94a3;
}